/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/animations";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.search-bar {
  border: 1px solid #000;
}

.navbar {
  background-color: #a0cdfa; /* Light background */
}

.nav-link {
  color: #17191c; /* Text color */
  text-align: center; /* Center the icons */
  flex: 1; /* Allow each link to take equal space */
}

navbar-nav {
  display: flex; /* Use flexbox for alignment */
  justify-content: space-around; /* Space items evenly */
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove bullet points */
}

.nav-link i {
  font-size: 24px; /* Increase icon size */
}

.navbar-nav {
  display: flex; /* Use flexbox for alignment */
  width: 100%; /* Full width */
  justify-content: space-around; /* Space items evenly */
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030; /* Ensure it stays above other elements */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nav-link i {
    font-size: 20px; /* Adjust icon size for smaller screens */
  }
}
